.county-overview-container {
    /* background-color: red; */
    width: 30vw;
}

.county-overview-container > h1 {
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
}

.county-overview-container > p {
    text-align: center;
}

.overview-images-container {
    display: flex;
    justify-content: center;
    height: 30vh;
}

.overview-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 15px;
    animation: 200ms linear fade-in;
}

@keyframes fade-in {
    0% {
        opacity: 0.1;
        left: 100%;
    }
    100% {
        opacity: 1;
        left: 0%;
    }
}

@media screen and (max-width: 500px) {
    .overview-images-container {
        justify-content: space-around;
    }
    .overview-image {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 10px;
        margin-top: 15px;
    }
  }
