.ellipsis-dropdown-container {
    height: 30px;
    width: 130px;
    position: absolute;
    right: 0;
    margin: 2.5rem 0.3rem;
    background-color: var(--base-color);
    border-radius: 5px;
    z-index: 10;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipsis-add {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipsis-add:hover {
    background-color: gray;
}