.landing-container {
    margin-top: 100px;
}

.landing-container > h1 {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 50px;
  text-align: center;
  color: var(--highlight-color);
}

.landing-container > p {
  text-align: center;
}

.landing {
  display: flex;
  justify-content: right;
  position: relative;
  margin-bottom: 30px;
}

.county-overview-container {
  width: 30vw;
  position: absolute;
  left: 4vw;
  top: 12%;
}

.county-overview-container > h1 {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 50px;
  text-align: center;
  color: var(--highlight-color);
}

.county-overview-container > p {
  text-align: center;
}

.overview-images-container {
  height: 30vh;
  width: 50vw;
  position: absolute;
  top: 27vh;
  left: 4vw;
  display: flex;
  justify-content: space-around;
  /* background-color: red; */
}

.overview-image {
  height: 20vh;
  width: auto;
  max-width: 30vw;
  object-fit: fill;
  border: inset 10px rgb(0, 0, 0, 0.8);
  border-radius: 10px;
  margin-top: 5vh;
}

.second-image {
  margin-top: 0px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.map-container {
  /* width: 1000px;
  height: 600px; */
  width: 65vw;
  margin-right: 20px;
  /* background-color: red; */
  overflow: visible;
  
}

@media screen and (max-width: 500px) {
  .overview-images-container {
    justify-content: space-around;
}
.overview-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 15px;
}
  .map-container {
      width: 400px;
      height: 250px;
      margin: auto;
  }
}

