.sanLuis-yes-hover {
    transform: translate(-34.085px, -82.565px);
    transition: transform 200ms ease-in-out;
}

.sanLuis-no-hover {
    transform: translate(-34.085px, -72.565px);
    transition: transform 200ms ease-in-out;
}

/* santa barbara */
.sanBar-yes-hover {
    transform: translate(-35.254px, -90.33px);
    transition: transform 200ms ease-in-out;
}

.sanBar-no-hover {
    transform: translate(-35.254px, -80.33px);
    transition: transform 200ms ease-in-out;
}

/* kern county */
.kern-yes-hover {
    transform: translate(-35.254px, -90.33px);
    transition: transform 200ms ease-in-out;
}

.kern-no-hover {
    transform: translate(-35.254px, -80.33px);
    transition: transform 200ms ease-in-out;
}