.navbar-container {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 15px 40px;
    background-color: rgb(4, 4, 4);
    position: fixed;
    top: 0;
    z-index: 4;
    border-bottom: 1px solid var(--highlight-color);
}

.navbar-title {
    font-family: 'Love Ya Like A Sister', cursive;
    color: var(--highlight-color);
}

.navbar-links-container > ul {
    display: flex;
    list-style: none;
}

.navbar-link {
    padding: 0px 5px;
    margin-left: 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    text-decoration: none;
    transform: scale(1.0);
    transition: transform 250ms ease;
}

.navbar-link:hover {
    border-bottom: 2px solid var(--highlight-color);
    cursor: pointer;
    transform: scale(1.06);
    transition: transform 250ms ease;
}

.navbar-link-text {
    font-size: 20px;
    transition: color 50ms ease;
}

.navbar-link-text:hover {
    color: var(--highlight-color);
    transition: color 50ms ease;
}

.navbar-right {
    display: flex;
}

.navbar-right-link {
    text-decoration: none;
    margin: 0px 10px;
}

.list-icon-wrapper {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--highlight-color);
    stroke: var(--highlight-color);
}

.list-icon:hover {
    fill: white;
    stroke: white;
}

.navbar-menu {
    display: none;
}

@media screen and (max-width: 500px) {
    .navbar-container {
        transition: height 500ms ease-in-out;
    }
    .navbar-container-mobile-selected {
        height: 100%;
        transition: height 500ms ease-in-out;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 15px 40px;
        background-color: rgb(4, 4, 4);
        position: fixed;
        top: 0;
        z-index: 4;
        border-bottom: 1px solid var(--highlight-color);
    }
    .navbar-links-container {
        display: none;
        opacity: 0;
    }
    .navbar-links-container-mobile-selected {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: navbar-links-fade-in 1000ms ease-in-out;
        display: flex;
    }
    .navbar-links-container-mobile-selected > ul {
        list-style: none;
    }
    .navbar-link, .navbar-link:hover {
        border-bottom: 0px solid black;
    }
    .navbar-link-text {
        font-size: 24px;
    }
    .navbar-menu {
        display: block;
        fill: var(--highlight-color);
        height: 3rem;
        width: 3rem;
    }
    .navbar-right {
        display: none;
    }
    .navbar-right-mobile-selected {
        display: block;
        animation: navbar-links-fade-in 1000ms ease-in-out;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
    }
    .list-icon-wrapper {
        display: flex;
        width: 150px;
        justify-content: start;
    }
    .list-icon-wrapper > h1 {
        margin-left: 20px;
        font-size: 24px;
    }
    .list-icon {
        height: 40px;
        width: 40px;
    }
}

@keyframes navbar-links-fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}