.mylist-wrapper {
    margin-top: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.mylist-header {
    position: absolute;
}

.mylist-container {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 1vw;
    row-gap: 2vh;
}

.mylist-item-container {
    width: 45vw;
    height: 250px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(255,255,255,0.3);
    border-radius: 1rem;
    padding: 1rem 1rem;
    position: relative;
}


.mylist-item-image-container {
    width: 50%;
}

.mylist-image {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.mylist-item-text-header {
    text-align: center;
}

.mylist-item-text-header > h1 {
    font-size: 1rem;
}

.mylist-item-text-header > h3 {
    font-size: 0.8rem;
    opacity: 0.5;
}

.mylist-item-desc > h3 {
    font-size: 1rem;
    text-decoration: underline;
    margin-bottom: 5px;
}

.mylist-item-desc {
    width: 40%;
    font-size: 0.9rem;
    overflow: hidden;
}

.mylist-trash-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 15px;
    width: 1.7rem;
    height: 1.7rem;
    fill: red;
}

@media screen and (max-width: 1000px) {
    .mylist-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .mylist-item-container {
        width: 90vw;
    }
}