.interactive-map {
    margin: 400px 100px;
    position: fixed;
  }

.counties-svg {
  overflow: visible;
}

.sample-counties {
  overflow: visible;
}

.esq1 {
  position: absolute;
  top: 100px;
  left: 210px;
}

.esq2 {
  position: absolute;
  background-color: red;
  overflow:visible;
}