* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --base-color: rgb(37, 34, 44);
  --highlight-color: rgb(235, 173, 17);
  --svg-fill: rgb(163, 124, 25);
  --opaque-white: rgb(255,255,255,0.6);
}

html {
  font-size: 100%;
}

body {
  background-color: var(--base-color);
}

h1, h3,  p {
  color: whitesmoke;
  font-family: Poppins-Light;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-LightItalic";
  src: url("./assets/fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 75%;
  }
}
