* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* --base-color: rgba(11, 6, 23, 0.806); */
  --base-color: rgb(43, 38, 57);
  --highlight-color: rgba(130, 84, 238, 0.806);
}

body {
  /* background-color: #fcfcf4; */
  background-color: var(--base-color);
}

h1, p {
  color: whitesmoke;
}