.category-hero-container {
    margin-top: 10vh;
    height: 30vh;
}

.category-hero-container > h1 {
    margin-top: 3rem;
    margin-left: 5rem;
    font-size: 3rem;
}

.category-hero-container > p {
    margin-left: 5rem;
}